---
import { SITE_TITLE } from '../consts';
---

<header class="bg-light-primary sticky top-0 z-50">
  <div class="mx-auto max-w-3xl px-4 md:px-6 lg:px-8 py-4 flex items-center justify-between">
    <a
      href="/"
      class="font-extrabold text-lg tracking-wide text-gray-nurse-50 dark:text-pine-text"
    >
      {SITE_TITLE}
    </a>
  </div>
</header>
