---
import { SITE_TITLE } from '../consts';
---

<header class="bg-pine-dawn-overlay dark:bg-pine-overlay sticky top-0 z-50">
  <div class="mx-auto max-w-3xl px-4 md:px-6 lg:px-8 py-4 flex items-center justify-between">
    <a
      href="/"
      class="font-extrabold text-lg tracking-wide text-pine-dawn-text dark:text-pine-text"
    >
      {SITE_TITLE}
    </a>

    <a href="/rss.xml" class="text-pine-dawn-rose dark:text-pine-rose hover:opacity-80">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>
    </a>

  </div>
</header>
