@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  * This are the colors for the code snippets
*/
:root {
  --astro-code-color-text: theme(colors.gray-nurse.950);
  --astro-code-color-background: theme(colors.gray-nurse.50);
  --astro-code-token-constant: theme(colors.purple.500);
  --astro-code-token-string: theme(colors.light.text);
  --astro-code-token-comment: theme(colors.light.text);
  --astro-code-token-keyword: theme(colors.light.text);
  --astro-code-token-parameter: theme(colors.light.text);
  --astro-code-token-function: theme(colors.light.text);
  --astro-code-token-string-expression: theme(colors.light.text);
  --astro-code-token-punctuation: theme(colors.light.text);
  --astro-code-token-link: theme(colors.light.text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --astro-code-color-text: theme(colors.dark.text);
    --astro-code-color-background: theme(colors.dark.background);
    --astro-code-token-constant: theme(colors.dark.text);
    --astro-code-token-string: theme(colors.dark.text);
    --astro-code-token-comment: theme(colors.dark.text);
    --astro-code-token-keyword: theme(colors.dark.text);
    --astro-code-token-parameter: theme(colors.dark.text);
    --astro-code-token-function: theme(colors.dark.text);
    --astro-code-token-string-expression: theme(colors.dark.text);
    --astro-code-token-punctuation: theme(colors.dark.text);
    --astro-code-token-link: theme(colors.dark.text);
  }
}

@font-face {
  font-family: geist;
  src: url("/fonts/Geist/._Geist-Regular.otf") format("opentype");
}
